@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono";
   overflow-y: hidden;
   overflow-x: hidden;
  }
  .dragging{
    cursor: grab;
    user-select: none;
  }
  .scroll-smooth{
    scroll-behavior: smooth;
  }
  .custom-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid #7b3aff80;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #7b3aff;
    border-top: 1px solid #7b3aff80;
    border-bottom: 1px solid #7b3aff80;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    border: 1px solid #7b3aff80;
  }
  .custom-scrollbar-h {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .custom-scrollbar-h::-webkit-scrollbar {
    height: 5px;
  }
  .custom-scrollbar-h::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid #7b3aff80;
  }
  .custom-scrollbar-h::-webkit-scrollbar-thumb {
    background: #7b3aff;
    border-top: 1px solid #7b3aff80;
    border-bottom: 1px solid #7b3aff80;
  }
  .custom-scrollbar-h::-webkit-scrollbar-thumb:hover {
    border: 1px solid #7b3aff80;
  }
  .scroller-fade-h{
    mask: linear-gradient(90deg, transparent, white 2.5% , white 97.5%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 2.5% , white 97.5%, transparent);
  }
  .scroller-fade-v{
    mask: linear-gradient(0deg, transparent, white 2.5% , white 97.5%, transparent);
    -webkit-mask: linear-gradient(0deg, transparent, white 2.5% , white 97.5%, transparent);
  }
  .elementScreen{
    border: solid rgba(0,0,0,0);
    border-width: 1px;
  }
  .fade{
    -webkit-mask: linear-gradient(0deg, transparent, white 10% , white 90%, transparent);
    mask: linear-gradient(0deg, transparent, white 10% , white 90%, transparent);
  }
  .glass{
    background: rgba(80, 80, 168, 0.0);
   backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    box-shadow: 0px 0px 10px rgba(0,0,0,1)
  }
  .rotate-item-1{animation: rotation 10s linear infinite;-webkit-animation: rotation 10s linear infinite; }
  .rotate-item-1-5{animation: rotation 15s linear infinite;-webkit-animation: rotation 15s linear infinite; }
  .rotate-item-2{animation: rotation 20s linear infinite;-webkit-animation: rotation 20s linear infinite;}
  .anti-rotate-item-1{animation: anti-rotation 10s linear infinite;-webkit-animation: anti-rotation 10 linear infinite; }
  .anti-rotate-item-1-5{animation: anti-rotation 15s linear infinite;-webkit-animation: anti-rotation 15s linear infinite; }
  .anti-rotate-item-2{animation: anti-rotation 20s linear infinite;-webkit-animation: anti-rotation 20s linear infinite; }
  
  @keyframes rotation {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
  }
  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg); }
    to {-webkit-transform: rotate(360deg); }
  }
  
  @keyframes anti-rotation {
    from {transform: rotate(360deg); }
    to {transform: rotate(0deg); }
  }
  @-webkit-keyframes  anti-rotation {
    from {-webkit-transform: rotate(360deg); }
    to {-webkit-transform: rotate(0deg); }
  }